/* ------------------------------------------------------------------ */
/* a. Webfonts and Icon fonts
 ------------------------------------------------------------------ */

/*@import url("fonts.css");*/


/* ------------------------------------------------------------------ */
/*    Global custom styles
 ------------------------------------------------------------------ */



/*=======================================
=            Main Coontainer            =
=======================================*/
.navbar-brand {
  float: none;
  }

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
  height:100%;
}


/*=======================================
=            Nav Coontainer            =
=======================================*/







